@page
@model MyFirstCoreApp.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Post.Blog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Post.Blog.Url)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post.PostId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
